@use "../../scss/mixins" as *;

.container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  // background: linear-gradient(135deg, #27a7a7, #1c5c5c);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #fff;
  min-height: 700px;

  @include media(desktop) {
    max-width: 1440px;
    padding: 40px;
    margin-bottom: 100px;
  }
}

.mySwiper {
  width: 100%;
  height: 700px;
  margin: 0 auto;

  .swiper-slide {
    height: 100%;
    width: 300px;
    background-position: center;
    background-size: cover;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-sizing: border-box;
    }
  }
}
.img_container {
  @include media(desktop) {
    display: flex;
    gap: 10px;
    img {
      display: block;

      object-fit: cover;
      box-sizing: border-box;
    }
  }
}
.title {
  color: var(--second-color);
  font-size: 48px;
}
