@use "../../scss/mixins" as *;

.container {
  scroll-margin-top: 80px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #fff;
  min-height: 900px;
  max-height: 100%;
  width: 100%;
  max-width: 380px;
  background-image: url(../../images/bgBlock.webp);
  background-repeat: no-repeat;
  background-size: cover;
  @include media(desktop) {
    scroll-margin-top: 100px;
    max-width: 1440px;
    padding: 40px;
    gap: 40px;
    margin-bottom: 100px;
    min-height: 700px;
  }
}

.mySwiper {
  width: 100%;
  // min-height: 600px;
  height: 635px;
  margin: 0 auto;

  .swiper-slide {
    height: 650px;
    width: 1000px;
    background-position: center;
    background-size: cover;
    transition: all 0.5s ease-in-out;

    // img {
    //   display: block;
    //   width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    //   box-sizing: border-box;
    // }
  }

  @include media(desktop) {
    height: 550px;
    width: 100%;
    .swiper-slide {
      width: 300px;
    }
  }
}

.img_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;

  // img {
  //   width: 100px;
  //   height: auto;
  //   object-fit: cover;
  //   box-sizing: border-box;
  // }

  // @include media(desktop) {
  //   gap: 10px;

  //   img {
  //     width: auto;
  //   }
  // }
}

.title {
  margin: 0;
  margin-top: 20px;
  color: var(--second-color);
  font-size: 28px;
  text-align: center;

  @include media(desktop) {
    font-size: 48px;
    text-align: left;
  }
}
.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

.modalContent {
  background-color: var(--white-color);
  border-radius: 16px;
  max-width: 95%;
  max-height: 95%;
  overflow-y: auto;
  position: relative;
  padding: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
  animation: scaleIn 0.3s ease-in-out;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
  }
}

.modalCloseBtn {
  position: absolute;
  top: 12px;
  right: 16px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--second-color);
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.2);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}
