@use "../../scss/mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  // background-color: #080808;
  background-image: url(../../images/bgHero.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 380px;
  padding-top: 100px;
  padding-bottom: 60px;
  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
    height: 800px;
  }
}

.title {
  margin: 0;
  font-weight: 800;
  font-size: 24px;
  color: #fff;
  text-align: center;

  @include media(desktop) {
    font-size: 44px;
    text-align: left;
    margin-bottom: 30px;
  }
}

.information {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #cecccc;
  text-align: center;
  margin-top: 20px;
  @include media(desktop) {
    margin-top: 50px;
    font-size: 18px;
    text-align: left;
  }
}

.container_avatar {
  border-radius: 50%;
}

.avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.7);
  @include media(desktop) {
    width: 400px;
    height: 400px;
  }
}

.contacts_list {
  padding: 0;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;

  @include media(desktop) {
    gap: 10px;
    width: 1000px;
    justify-content: space-between;
  }
}

.contact_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // gap: 5px;
  // border: 1px solid gray;
  // background: #635757;
  // border-radius: 10px;
  // padding: 6px 12px;
  // transition: background 0.3s ease-in-out;

  // &:hover {
  //   background: #4e4e4e;
  // }

  @include media(desktop) {
    padding: 14px 40px;
  }
}

.icon {
  width: 50px;
  height: 50px;

  @include media(desktop) {
    width: 90px;
    height: 90px;
  }
}

.contact_text {
  display: none;
  color: #fff;
  font-size: 14px;

  @include media(desktop) {
    display: block;
  }
}
.main_inf {
  width: 320px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  @include media(desktop) {
    width: 1000px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
