@use "../../scss/mixins" as *;
.container {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: #080808;
  height: 450px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 380px;
  @include media(desktop) {
    flex-direction: row;
    width: 100%;
    max-width: 1440px;
    height: 700px;
  }
}
.container h1 {
  margin: 0;
  font-weight: 800;
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
  @include media(desktop) {
    font-weight: 800;
    font-size: 44px;
  }
}
.information {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 171%;
  color: #9c9c9c;
  text-align: center;
  @include media(desktop) {
    font-size: 14px;
    text-align: start;
  }
}
.cont_info {
  @include media(desktop) {
    width: 492px;
  }
}
.container_avatar {
  display: block;
  border-radius: 50%;
  @include media(desktop) {
  }
}
.container_avatar img {
  display: block;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  @include media(desktop) {
    display: block;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    object-fit: cover;
  }
}
