@use "../../scss/mixins" as *;
.container {
  display: block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #9d8b8b;
  @include media(desktop) {
  }
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
