@use "../../scss/mixins" as *;

.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  // background-color: rgba(27, 27, 27, 0.9);
  // border-radius: 12px;
  background-image: url(../../images/bg_footer.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin: 0 auto;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  width: 100vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);

  @include media(desktop) {
    padding: 16px 32px;
    height: 70px;
    // border-radius: 0 0 8px 8px;
  }
}

.menuButton {
  background: none;
  border: none;
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  z-index: 101;

  @include media(desktop) {
    display: none;
  }
}

.nav {
  position: fixed;
  top: 0;
  right: -1000%;
  width: 90%;
  height: 100vh;
  // background-color: #272727;
  background-image: url(../../images/bgModile.webp);
  background-repeat: no-repeat;
  background-size: cover;
  transition: right 0.3s ease-in-out;
  padding: 30px 10px;
  z-index: 999;
  width: 100%;
  &.open {
    right: 0;
  }

  @include media(desktop) {
    position: static;
    height: auto;
    background: none;
    padding: 0;
    right: auto;
  }
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;

  a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-family: "IBM Plex Mono", sans-serif;
  }

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;

    a {
      font-size: 14px;
      color: #9c9c9c;
      letter-spacing: 0.01em;
    }
  }
}
.closeButton {
  display: block;
  padding: 6px;
  background-color: inherit;
  border: none;
}
.list li a:hover {
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.list li a.active {
  color: #fff;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.langSwitcher {
  display: flex;
  align-items: center;
  gap: 6px;

  button {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.6;
    font-weight: 500;

    &.active {
      opacity: 1;
      text-decoration: underline;
    }
  }
}
