.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}

select {
  background-color: transparent;
  color: white;
  border: 1px solid rgb(62, 215, 35);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

select:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

option {
  background-color: black;
  color: white;
}
/* .opt {
  display: flex;
  gap: 2px;
  justify-content: center;
} */
.switcher {
  display: flex;
  gap: 6px;
  flex-shrink: 0;
}

button {
  background: none;
  border: none;
  color: #9c9c9c;
  cursor: pointer;
  display: flex;
  gap: 2px;
}

.active {
  color: #fff;
  text-decoration: underline;
}
.imgflag {
  width: 24px;
}
