@use "./breakpoints" as *;
@use "./vars" as *;
@use "./mixins" as *;
:root {
  // font-family: "Raleway", sans-serif;
  font-family: "IBM Plex Mono", sans-serif;
  --second-family: "IBM Plex Mono", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --second-color: #242424;
  --white-color: #fcf9f9;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include media(mobile) {
    height: auto;
    flex-direction: column;
    padding: 20px;
  }

  @include media(desktop) {
    width: 1440px;
    margin: 0 auto;
    height: 100%;
  }
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
