@use "../../scss/mixins" as *;
.container {
  scroll-margin-top: 80px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
  // background-color: #f5f5f5;
  background-image: url(../../images/bgBlock.webp);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 380px;
  padding: 10px;

  @include media(desktop) {
    scroll-margin-top: 100px;
    max-width: 1440px;
    padding: 40px;
  }
}

.title {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--second-color);
  font-size: 28px;
  text-align: center;

  @include media(desktop) {
    font-size: 48px;
    text-align: center;
  }
}

.information {
  font-family: var(--second-family);
  display: block;
  color: var(--second-color);
  font-size: 14px;
  text-align: center;
  padding: 0 6px;
  @include media(desktop) {
    width: 1200px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
  }
}
.abut_block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  @include media(desktop) {
  }
}
.mySwiperEducation {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;

  @include media(desktop) {
    max-width: 400px;
    max-height: 500px;
    box-sizing: border-box;
    height: 500px;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100%;
    height: auto;
    overflow: visible;
    @include media(desktop) {
      max-width: 400px;
      max-height: 500px;
      // box-sizing: border-box;
      height: 500px;
    }
  }

  .swiper-slide img {
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: contain;
    border-radius: 12px;
  }

  @include media(desktop) {
    .swiper-slide img {
      max-width: 300px;
    }
  }
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 12px;
  display: block;
  margin: 0 auto;
  @include media(desktop) {
    max-width: 550px;
    // max-height: auto;
    box-sizing: border-box;
  }
}

.educaion_cont {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  height: 550px;
}

.swiper.swiper-flip {
  //  width: 100%;
  @include media(desktop) {
    max-width: 400px;
    max-height: auto;
    box-sizing: border-box;
  }
}
:global(.swiper.swiper-flip) {
  overflow: hidden;
}
